<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kar98.androidunityble">

    <!-- Required when using location information -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required to access precise location information -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- BLE permissions required when SDK version is (Android 11) 30 or lower -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- BLE permissions required when SDK version is (Android 12) 31 or higher -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />


</manifest>